<aside class="static md:sticky md:top-[90px]">
  <div class="mb-3.5 text-[0.875rem] uppercase tracking-[0.1em] text-sage" id="sidebarTitle">Категорії</div>
  <div class="tabs sidebar-tabs" id="sidebarTabs">
    <button class="tab active" data-cat="all" data-key="tab_all">Усі лоти</button>
    <button class="tab" data-cat="decor" data-key="tab_decor">Декор і меблі</button>
    <button class="tab" data-cat="numismatics" data-key="tab_numismatics">Нумізматика</button>
    <button class="tab vip-tab" data-cat="special" data-key="tab_vip">VIP-відділ</button>
    <button class="tab" data-cat="porcelain" data-key="tab_porcelain">Фарфор</button>
    <button class="tab" data-cat="silver" data-key="tab_silver">Срібло</button>
    <button class="tab" data-cat="painting" data-key="tab_painting">Живопис</button>
    <button class="tab" data-cat="militaria" data-key="tab_militaria">Військова історія</button>
    <button class="tab" data-cat="jewelry" data-key="tab_jewelry">Прикраси</button>
    <button class="tab" data-cat="clocks" data-key="tab_clocks">Годинники</button>
    <button class="tab" data-cat="glass" data-key="tab_glass">Скло і хрусталь</button>
    <button class="tab" data-cat="philately" data-key="tab_philately">Філателія</button>
    <button class="tab" data-cat="books" data-key="tab_books">Книги</button>
    <button class="tab" data-cat="favorites" data-key="tab_favorites">♥ Обране</button>
  </div>
</aside>
